body {
    background-image: url('../assets/images/great_sword.jpg');
}

.impress-enable .step{
    margin: 0;
    opacity: 0.0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: background 1s;
}

impress-enable .step.active {
    opacity: 1
}

.slide {
    opacity:0.4;
    display: block;
    width: 700px;
    height: 600px;
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgb(52,52,52);
    text-shadow: 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
    font-family: 'Britannic',"Open Sans", Arial, sans-serif;
    font-size:30px;
}

/*First slide*/
#start{
opacity:0.7; /*Give the opacity to the slide*/
}



/*Styling for slide paragraphs*/
.slide p{
    margin-top:15px;
    margin-bottom:15px;
    line-height:45px;
}

/*Styling links to look like buttons*/
.slide a, .slide a:visited{
    color: #f3d8d8;
    text-decoration: none;
    background-color: #ec340d;
    padding:5px;
    border-radius:5px;
    border:1px solid #88311c;
}

.slide a:hover, .slide a:active{
    background-color: #ed867e;
}

/*Styling for slide text area*/
.slide .slide-text{
    height:450px;
}

/*styling for the menu*/
div.menu{
    border-top: 2px solid black;
    padding-top:25px;
    text-align:center;
}
